header{
    background-color: rgb(250, 6, 6);
}
.b{
    background-color: rgb(250, 139, 13);
}
.c{
    background-color: rgb(168, 93, 8);
}
.d{
    background-color: rgb(252, 122, 80);
}
.e{
    background-color: rgb(245, 89, 30);
}
.f{
    background-color: rgb(212, 74, 100);
}
.g{
    background-color: rgb(167, 60, 150);
}
.h{
    background-color: rgb(121, 35, 200);
}
.i{
    background-color: rgb(248, 41, 41);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* tablet */
@media screen and (min-width: 560px){
    header{
        background-color: rgb(6, 250, 18);
    }
    .b{
        background-color: rgb(139, 250, 250);
    }
    .c{
        background-color: rgb(80, 168, 100);
    }
    .d{
        background-color: rgb(126, 252, 30);
    }
    .e{
        background-color: rgb(18, 47, 126);
    }
    .f{
        background-color: rgb(212, 74, 131);
    }
    .g{
        background-color: rgb(167, 94, 60);
    }
    .h{
        background-color: rgb(45, 121, 35);
    }
    .i{
        background-color: rgb(248, 41, 51);
    }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */

/* desktop */
@media screen and (min-width:760px) and (max-width:960px){
    header{
        background-color: rgb(100,40, 100);
    }
    .b{
        background-color: rgb(169, 139, 250);
    }
    .c{
        background-color: rgb(118, 85, 209);
    }
    .d{
        background-color: rgb(138, 99, 20);
    }
    .e{
        background-color: rgb(104, 49, 50);
    }
    .f{
        background-color: rgb(86, 42, 209);
    }
    .g{
        background-color: rgb(76, 35, 10);
    }
    .h{
        background-color: rgb(54, 26, 131);
    }
    .i{
        background-color: rgb(201, 182, 252);
    }
}